@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-links {
    @apply flex items-center gap-1 border-r w-full duration-500 transition ease-in-out justify-center h-full text-[#e3f7f7] hover:bg-[#e3f7f7] hover:text-black;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


h2{
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -2px;
  font-weight: 700;
}

p , h1, h2, h3, h4 ,h5 {
  color: #e3f7f7;
}


.custom-text{
  font-size: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  display: none;
}

.nav-links:hover img{
  filter: invert(1);
  -webkit-filter: invert(1);
}