@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-links {
    @apply flex items-center gap-1 border-r w-full duration-500 transition ease-in-out justify-center h-full text-[#e3f7f7] hover:bg-[#e3f7f7] hover:text-black;
  }
}

 /* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body{
  background-color: #564CF8;
}


h2{
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -2px;
  font-weight: 700;
}

p , h1, h2, h3, h4 ,h5 {
  color: #e3f7f7;
}


.custom-text{
  font-size: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  display: none;
}

.nav-links:hover img{
  filter: invert(1);
  -webkit-filter: invert(1);
}


@font-face {
  font-family: saman;
  src: url('../public/font/SAMAN___.TTF');
}

@font-face {
  font-family: damn;
  src: url('../public/font/damn.woff2');
}

.shine{
  width: 100%;
    background-image: radial-gradient(500px 200px at 50%0,#131f33 20%,rgba(19,30,49,0) 100%);
    height: 100%;
}

/*********** stagger text *****************/

.stager-text2{
  transform: skewY(-2deg) scale(.98);
}

.grid-section{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 35px;
grid-row-gap: 35px;
}


.grid1 { grid-area: 1 / 1 / 2 / 2; }
.grid2 { grid-area: 1 / 2 / 2 / 3; }
.grid3 { grid-area: 2 / 1 / 3 / 3; }
.div4 { grid-area: 3 / 1 / 4 / 2; }
.div5 { grid-area: 3 / 2 / 4 / 3; }


.slider-track {
  animation: moveSlideshow 35s linear infinite;
  -webkit-animation: moveSlideshow 35s linear infinite;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex: none;
  align-items: center;
  margin-right: 25px;
  display: flex;
}

.items-holder {
  animation: moveSlideshow 35s linear infinite;
}

.items-holder:hover {
    animation-play-state: paused;
  }

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-50%);  
  }
}
